body {
  margin: auto;
}

html {
  font-size: 16px;
}

.about-city {
  display: flex;
  flex-direction: row;
}

.city-description {
  border: 5px solid paleturquoise;
  background-color: aliceblue;
  border-radius: 5px;
  padding-right: 10px;
}

.city-photo {
  border: 5px solid paleturquoise;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.header {
  padding-left: 4%;
  padding-bottom: 2%;
}

.large-header {
  color: peru;
  display: inline;
  font-family: Pacifico, Helvetica, Arial, sans-serif;
  font-size: 6rem;
}

.list-item {
  margin-bottom: 10px;
}

.medium-header {
  font-family: 'Russo One', Helvetica, Arial, sans-serif;
  letter-spacing: 0.4rem;
  padding-left: 5%;
}

.menu {
  font-family: 'Russo One', Helvetica, Arial, sans-serif;
  list-style-image: url("../images/kiwi.gif");
}

.photo-container {
  max-width: 30%;
}

.squared-list-style {
  list-style-type: square;
}

.text-paragraph {
}

.text-section {
  max-width: 600px;
  padding: 5px;
}

.text-section em {
  color: darkgoldenrod;
}
